.topnav {
    width: 100%;
    display: inline-block;
}

body {
    background-color: rgb(64, 64, 64);
    color: white;
    font-family: cursive;
}

.topnav a {
    padding-left: 10px;
    padding-right: 10px;
    color: white;
}

.topnav a:hover {
    color: rgb(137, 137, 137);
}

.topnav form {
    float: right;
    border: none;
    padding-left: 5px;
    padding-top: 2px;
}

legend {
    font-weight: bolder;
    text-decoration: underline;
    font-size: 3vh;
}

fieldset {
    width: 20%;
}

.courses {
    text-align: center;
}

.course {
    font-size: 3vh;
    text-align: center;
}

.login-button-form {
    text-align: left;
}

.login-form{
    display:flex;
    justify-content: center;
    text-align: center;
}

.fieldset-form{
    text-align: center;
}

.headline {
    text-decoration: underline;
}

.form-container {
    text-align: left;
}

.home {
    background-image: url(/static/images/institute.jpg);
    width: 99%;
    background-repeat: no-repeat;
    background-size: 100% 700px;
}

.home-course {
    text-align: left;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.student, .course_style {
    color: white;
}

.student:hover{
    color: rgb(137, 137, 137);
}

table{
    position: fixed;
}