{% extends 'base.html' %}
{% block content %}
<h1 class="headline">Attendance For {{ c_name }}</h1>
<a class="headline">Date: {{ today_date }}</a>
<br><br>
<div class="grid-container">
    {% for student in students %}
    <form class="attendance_containter" method="post">
        <div class="check_attendance">
            <div class style="width:200px">{{ student.name[0][0] }}</div>
            <input type="hidden" name="s_id" value="{{student.id}}">
            Yes<input type="radio" name="attendance" value="yes">
            No<input type="radio" name="attendance" value="no">
            <input class="fill-press" type="submit" value="Set">
            <br><br>
        </div>
    </form>
    {% endfor %}
    {% for student in students_attend %}
    <form class="attendance_containter" method="post">
        <div class="check_attendance">
            <div class style="width:200px">{{ student.name[0][0] }}</div>
            <input type="hidden" name="s_id" value="{{student.id}}" />
            Yes<input type="radio" name="attendance" value="yes" {{student.attend.yes}} />
            No<input type="radio" name="attendance" value="no" {{student.attend.no}} />
            <input class="fill-press" type="submit" value="Set" />
            <br><br>
        </div>
    </form>
    {% endfor %}

    <form class="att_search" action="/h_att/{{c_id}}" method="get">
        Choose A Different Date:
        <br>
        <select class="fill-press" name="select">
            <option>Select a Date:</option>
            {% for d in dates %}
            <option value="{{ d[0] }}">{{ d[0] }}</option>
            {% endfor %}
        </select>
        <input class="fill-press" type="submit" value="Select">
    </form>
</div>
{% endblock %}