<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    <title>Back To School</title>
</head>

<body class="home">
    <script src="https://unpkg.com/react@18/umd/react.development.js" crossorigin></script>
    <script src="https://unpkg.com/react-dom@18/umd/react-dom.development.js" crossorigin></script>
    <script src="https://unpkg.com/@babel/standalone/babel.min.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script type="text/babel" src="/static/hooks.js"></script>
    <div class="topnav">
        <a href="/">Back To School</a>
        <a href="/profile/{{student_id}}">{{ auth.profile }}</a>
        <a href="/teacher/{{teacher_id}}">{{ auth.teacher }}</a>
        <a href="{{ auth.admin_link }}">{{ auth.admin_str }}</a>
        <a href="{{ auth.link }}" class="logout">{{ auth.log }}</a>
        <a>
            <form class="search" action="/results" method="get">
                <input class="fill-press" type="search" placeholder="Search.." name="search">
                Courses<input type="checkbox" name="c" value="c">
                Students<input type="checkbox" name="s" value="s">
                Teachers<input type="checkbox" name="t" value="t">
            </form>
        </a>
    </div>