<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    <title>Home</title>
</head>

<body class="home">
    {% include 'navbar.html' %}
    <br><br>
    <div class="login-button-form">
        <div>{{ str }}</div>
        <form action="/login" method="get">
            <input type="submit" value="Login">
        </form>
    </div>
    <br>
    <div class="home-course">
        <h2>New Courses At Our Institution</h2>
        {% for course in courses[-2:] %}
        <div class="home-wcourse">{{ course }}</div>
        <br>
        {% endfor %}
    </div>
</body>

</html>