<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
</head>

<body>
    
    <div class="main-container">
        <div class="container">
            <h1>Teachers List</h1>
            {% for teacher in teachers %}
            <br>
            {{ teacher[1] }}
            {% endfor %}
        </div>
        <div class="container">
            <h1>Courses List</h1>
            {% for course in courses %}
            <br>
            {{ course[1] }}
            {% endfor %}
        </div>
        <div class="container">
            <h1>Students List</h1>
            {% for student in students %}
            <br>
            {{ student[1] }}
            {% endfor %}
        </div>
    </div>
</body>

</html>