{% extends 'base.html' %}
{% block content %}
<br><br>
<div class="login-form">
    <form action="" method="post">
        <fieldset>
            <legend>Please Login Here:</legend>
            <br>
            <input class="fill-press" type="email" placeholder="Enter email" name="email" required autofocus>
            <br><br>
            <input class="fill-press" type="password" placeholder="Enter password" name="password" required autofocus>
            <br><br>
            <input class="fill-press" type="submit" value="Submit">
        </fieldset>
    </form>
</div>
{% endblock content %}