<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    <title>Login</title>
</head>

<body>
    {% include 'navbar.html' %}
    <br><br>
    <form class="login-form" action="" method="post">
        <fieldset>
            <legend>Please Login Here:</legend>
        <br>
        <input type="email" placeholder="Enter email" name="email" required autofocus>
        <br><br>
        <input type="password" placeholder="Enter password" name="password" required autofocus>
        <br><br>
        <input type="submit" value="Submit">
    </fieldset>
    </form>
</body>

</html>