<link rel="stylesheet" href="/static/style.css">

<div class="topnav">
    <a href="/">Home</a>
    <a href="/students">Students</a>
    <a href="/courses">Courses</a>
    <a>
        <form class="search" action="/results" method="get">
            <input class="fill-press" type="search" placeholder="Search.." name="searchbox">
        </form>
    </a>
    <a>
        <form class="logout" action="/logout" method="get">
            <input class="fill-press" type="submit" value="Logout" name="logout">
        </form>
    </a>
</div>