<link rel="stylesheet" href="/static/style.css">

<div class="topnav">
    <a href="/">Home</a>
    <a href="/student/add">Add Student</a>
    <a href="/course_list">Courses List</a>
    <a>
        <form action="/logout" method="get">
            <input type="submit" value="Logout">
        </form>
    </a>
    <!-- <div class="search-container">
        <form>
            <input type="text" name="search" placeholder="Search..">
            <button type="submit"><img src="/images/search-img.png"></button>
        </form>
    </div> -->
</div>