{% extends 'base.html' %}
{% block content %}
<br><br>
<div class="s_name">
    {% for detail in student_details %}
    <form action="/update/{{ detail[0] }}" method="get">
        <input class="fill-press" type="submit" value="Update Profile">
    </form>
    <h3 class="message">Full Name:</h3>
    {{ detail[1] }}
    <h3 class="message">Email:</h3>
    {{ detail[2] }}
    <h3 class="message">Phone:</h3>
    {{ detail[3] }}
    <h3 class="message">Grade(avg):</h3>
    {{ detail[4] }}
    {% endfor %}
</div>
<div class="c_names">
    <h3 class="message">Courses:</h3>
    {% for course in course_names %}
    {{ course[0][0] }}
    <br>
    {% endfor %}
</div>
{% endblock content %}