{% extends 'base.html' %}
{% block content %}
<br><br>
<div class="s_name">
    {% for detail in student_details %}
    <form action="/update/{{detail[0]}}" method="get">
        <input class="fill-press" type="submit" value="Update Profile">
    </form>
    <h3 class="profile-headlines">Full Name:</h3>
    {{ detail[1] }}
    <h3 class="profile-headlines">Email:</h3>
    {{ detail[2] }}
    <h3 class="profile-headlines">Phone:</h3>
    {{ detail[3] }}
    {% endfor %}
    <h3 class="profile-headlines">Grade(avg):</h3>
    {{ average }}
</div>
<div class="c_names">
    <h3 class="profile-headlines">My courses:</h3>
    {% for course_name in grades_students %}
    {% for grade in grades_students[course_name] %}
           {{ grade.name.title() }} Grade({{grade.grade}})<br>
    {% endfor %}
    {% endfor %}
</div>
{% endblock content %}