<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    <title>Students List</title>
</head>

<body>
    {% include 'navbar.html' %}
    <br><br>
    <div class="studetns">
        <h1 class="headline">Students List:</h1>
        {% for student in students %}
        <div class="student">
            {{ student[1] }}
            <br><br>
            {% endfor %}
        </div>
    </div>
    <form action="" method="post">
        <fieldset>
            <legend>Add & associate a student</legend>
            <br>
            <input type="text" placeholder="Student Name.." name="s_name" required autofocus>
            <br><br>
            <input type="email" placeholder="Enter email.." name="s_email" required autofocus>
            <br><br>
            <input type="text" placeholder="Course name.." name="c_name">
            <br><br>
            <input type="submit" value="Submit">
        </fieldset>
    </form>
    <div>{{ message }}</div>
</body>

</html>