{% extends 'base.html' %}
{% block content %}
{% include 'admin-nav.html' %}
<script defer src="/static/index.js"></script>
<br><br>
<input class="search-student" type="text" id="search" placeholder="Search By Name/Email...">
<br><br>
<div class="container">
    <div class="students">
        <h1 class="headline">Students:</h1>
        <table id="students_table">
            <tr>
                <th>Name</th>
                <th>Email</th>
            </tr>
            {% for student in students %}
            <tr>
                <td><a class="student" href="/sprofile/{{student[0]}}">{{ student[1] }}</a></td>
                <td>{{ student[2] }}</td>
            </tr>
            {% endfor %}
        </table>
    </div>
    <form class="fieldset-form1" action="" method="post">
        <fieldset>
            <legend>Add a student</legend>
            <br>
            <input class="fill-press" type="text" placeholder="Student Name.." name="s_name" required>
            <br><br>
            <input class="fill-press" type="email" placeholder="Enter email.." name="s_email" required>
            <br><br>
            <input class="fill-press" type="text" placeholder="Enter phone.." name="s_phone" required>
            <br><br>
            <input class="fill-press" type="submit" id="form-submit" name="form-submit" value="Add">
        </fieldset>
    </form>
    <form class="fieldset-form2" action="" method="post">
        <fieldset>
            <legend>Associate a student with a course</legend>
            <br>
            <input class="fill-press" type="text" placeholder="Student Name.." name="s_name" required>
            <br><br>
            <input class="fill-press" type="email" placeholder="Enter email.." name="s_email" required>
            <br><br>
            <input class="fill-press" type="text" placeholder="Course name.." name="c_name">
            <br><br>
            <input class="fill-press" type="submit" id="form2-submit" name="form2-submit" value="Associate">
        </fieldset>
    </form>
</div>
{% endblock content %}