{% extends 'base.html' %}
{% block content %}
<h1 class="headline">Welcome {{ t_name[0][0] }}</h1>
<h2 class="headline">Your Courses:</h2>
{% for c in courses %}
<h3 class="headline">{{ c[1] }}</h3>
<h3 class="headline">Students:</h3>
    {% for name in students_names %}
        {{ name }}
        {% for grade in grades %}
            <form action="" method="post">
                <input class="fill-press" type="text" placeholder="{{ grade }}" name="grade">
                    <input class="fill-press" type="submit" value="Update">
            </form>
        {% endfor %}
        <br><br>
    {% endfor %}
    <br><br>
{% endfor %}
{% endblock content %}