{% extends 'base.html' %}
{% block content %}
<br><br>
<h1 class="headline">Update Profile:</h1>
<form action="" method="post">
    <a>Enter Email:</a>
    <input class="fill-press" type="email" placeholder="exmaple@example.com" name="email">
    <br><br>
    <a>Enter Phone Number:</a>
    <input class="fill-press" type="text" placeholder="000-1112222" name="phone">
    <br><br>
    <a>Enter New Password:</a>
    <input class="fill-press" type="password" placeholder="********" name="password">
    <br><br>
    <input class="fill-press" type="submit" value="Save">
</form>
{% endblock content %}